.container {
  width: calc(100%+16px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -8px;
  padding-inline: 8px;
  /* width: 100vh; */
  padding-block: 20px;
  background-image: url(https://res.cloudinary.com/dah7yxmc5/image/upload/v1731957078/Business-manager/register-bg_se2p6y.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  @media (max-width: 600px) {
    background-image: none;
    background-color: rgba(18, 196, 245, 0.697);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin-block: -8px;
}

.logo {
  object-fit: contain;
  max-width: 150px;
  height: auto;
  margin-bottom: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

@media (min-width: 600px) {
  .container {
    margin: -8px;
  }
  .formContainer {
    width: 50%;
    padding: 0;
  }
  .form {
    width: 75%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .formContainer {
    width: 90%;
    /* padding: 0; */
  }
  .container {
    height: 100%;
    padding-bottom: 10px;
  }
  .background {
    height: 110%;
  }
}
