.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: -8px;
  padding-block: 20px;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding-top: 20px;
  margin-block: -8px;
}

.background {
  position: absolute;
  background-image: url(https://res.cloudinary.com/dah7yxmc5/image/upload/v1731957078/Business-manager/register-bg_se2p6y.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1px);
  opacity: 0.6;
  z-index: -1;
  margin-left: -8px;
  margin-bottom: -100px;
}

.logo {
  object-fit: contain;
  max-width: 150px;
  height: auto;
  margin-bottom: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

@media (min-width: 600px) {
  .container {
    margin: -8px;
  }
  .formContainer {
    width: 50%;
    padding: 0;
  }
  .form {
    width: 75%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .formContainer {
    width: 90%;
    padding: 0;
  }
  .container {
    height: 100%;
    padding-bottom: 10px;
  }
  .background {
    height: 110%;
  }
}
